In [280]:
# %run code/add_data.py

import pandas as pd
import json
import requests
!ls data/zippedData | grep sv > file_list.txt

In [282]:
with open ('file_list.txt', 'r') as f:
    file_list= f.readlines()
    
csv_dict = {}

for csv in file_list:
    file='data/ZippedData/'+csv.strip()
    df_name=csv.strip()
    df_name=df_name.split('.csv.gz')[0]
    if 'csv' in file:
        df=pd.read_csv(file, compression='gzip')
    elif 'tsv' in file:
        df=pd.read_csv(file, compression='gzip', delimiter='\t', encoding='latin-1')
    else: print(file, ": unkown file!")
    csv_dict[df_name] = df

In [288]:
print(csv_dict.keys())
#print(tsv_dict.keys())

csv_dict.get("tmdb_movie_ids") # has list of 330000 tmdb ids, titles, popularity
#csv_dict.get("bom.movie_gross")["year"].max() # has key title: values <studio>, gross, year

#csv_dict.get("imdb.name.basics").head() # name of a person and lists of production, profession and title 
#csv_dict.get("imdb.title.principals").head() # similar name.basics, but has explicit category, as well as details for actors

#csv_dict.get("imdb.title.akas").head() # title id and <title for different regions if needed> 
#len(csv_dict.get("imdb.title.basics"))# has key title, values: genres, length, future year
#csv_dict.get("imdb.title.ratings").head() # # tittle_id, averagerating, numvotes

#csv_dict.get("imdb.title.crew").head() # # LOOKUP TABLE can be joined with name_basics and movie basics 


#csv_dict.get("tmdb.movies") # TMDB tittle_id, averagerating, numvotes, list of genres, original lang, populatrity
#csv_dict.get("imdb.title.ratings").head() # #IMDB tittle_id, averagerating, numvotes

csv_dict.get("tn.movie_budgets") # #tn title, date, budget and gross

#tsv_dict.get("rt.reviews")# #reviews probably can joined with rt.movie_info on id

#tsv_dict.get("rt.movie_info").info()# #reviews probably can joined with rt.movie_info on id
#len(csv_dict["tmdb_imdb_gross"][csv_dict["tmdb_imdb_gross"]["budget"]==0])

dict_keys(['bom.movie_gross', 'imdb.name.basics', 'imdb.title.akas', 'imdb.title.basics', 'imdb.title.crew', 'imdb.title.principals', 'imdb.title.ratings', 'rt.movie_info.tsv.gz', 'rt.reviews.tsv.gz', 'tmdb.movies', 'tmdb_genres', 'tmdb_imdb_gross', 'tmdb_movie_ids', 'tn.movie_budgets'])

,id,release_date,movie,production_budget,domestic_gross,worldwide_gross
0,1,"Dec 18, 2009",Avatar,"$425,000,000","$760,507,625","$2,776,345,279"
1,2,"May 20, 2011",Pirates of the Caribbean: On Stranger Tides,"$410,600,000","$241,063,875","$1,045,663,875"
2,3,"Jun 7, 2019",Dark Phoenix,"$350,000,000","$42,762,350","$149,762,350"
3,4,"May 1, 2015",Avengers: Age of Ultron,"$330,600,000","$459,005,868","$1,403,013,963"
4,5,"Dec 15, 2017",Star Wars Ep. VIII: The Last Jedi,"$317,000,000","$620,181,382","$1,316,721,747"
...,...,...,...,...,...,...
5777,78,"Dec 31, 2018",Red 11,"$7,000",$0,$0
5778,79,"Apr 2, 1999",Following,"$6,000","$48,482","$240,495"
5779,80,"Jul 13, 2005",Return to the Land of Wonders,"$5,000","$1,338","$1,338"
5780,81,"Sep 29, 2015",A Plague So Pleasant,"$1,400",$0,$0
5781,82,"Aug 5, 2005",My Date With Drew,"$1,100","$181,041","$181,041"

In [177]:
max_id=int(csv_dict.get("tmdb.movies")["id"].max())
#max_id
len(csv_dict["tmdb_movie_ids"].merge(csv_dict.get("imdb.title.basics"), how="inner", on="original_title" )["id"].unique())

csv_dict["tmdb_movie_ids"].merge(csv_dict.get("imdb.title.basics"), how="inner", on="original_title" 

#len(csv_dict["imdb.title.basics"]["primary_title"])

46294